<div class="main-container">

    <h3 class="text-center text-dark">Calculator</h3>
    <div class="calculator-container">
        <div class="calculator-display-sm">
            <input type="text" class="display-value-sm" readonly value="@PreviusDisplayValue" />
        </div>

        <div class="calculator-display">
            <input type="text" class="display-value" readonly value="@CurrentDisplayValue" />
        </div>

        <div class="grid-contanier">
            <button class="clear-button" style="background-color: red;" @onclick="Clear">C</button>
            <button class="fun-btn" style="background-color: orange;" @onclick="@(() => BackSpace())">←</button>
            <button class="fun-btn" style="background-color: orange;" @onclick="@(() => AppendValue("/"))">÷</button>

            <button class="num-btn" @onclick="@(() => AppendValue("7"))">7</button>
            <button class="num-btn" @onclick="@(() => AppendValue("8"))">8</button>
            <button class="num-btn" @onclick="@(() => AppendValue("9"))">9</button>
            <button class="fun-btn" @onclick="@(() => AppendValue("*"))">*</button>

            <button class="num-btn" @onclick="@(() => AppendValue("4"))">4</button>
            <button class="num-btn" @onclick="@(() => AppendValue("5"))">5</button>
            <button class="num-btn" @onclick="@(() => AppendValue("6"))">6</button>
            <button class="fun-btn" style="background-color: orange;" @onclick="@(() => AppendValue("-"))">-</button>

            <button class="num-btn" @onclick="@(() => AppendValue("1"))">1</button>
            <button class="num-btn" @onclick="@(() => AppendValue("2"))">2</button>
            <button class="num-btn" @onclick="@(() => AppendValue("3"))">3</button>
            <button class="fun-btn" style="background-color: orange;" @onclick="@(() => AppendValue("+"))">+</button>

            <button class="num-btn" @onclick="@(() => AppendValue("0"))">0</button>
            <button class="num-btn" @onclick="@(() => AppendValue("00"))">00</button>
            <button class="num-btn" @onclick="@(() => AppendValue("."))">.</button>
            <button class="fun-btn" style="background-color: orange;" @onclick="@(() => Calculate())">=</button>
        </div>

    </div>
</div>

@code {
    private string CurrentDisplayValue = "0";
    private string PreviusDisplayValue = "";
    private string PreviusValue = "";
    private string InputValue = "";
    private string OperatorValue = "";
    private double ResultValue = 0;

    private void AppendValue(string value)
    {
        if (InputValue.Length > 15)
            return;

        if (InputValue.Contains('.') && value == ".")
            return;

        if (value == "+" || value == "-" || value == "*" || value == "/")
        {
            if (OperatorValue != null && !string.IsNullOrWhiteSpace(PreviusDisplayValue))
                Calculate(value);

            if (!string.IsNullOrWhiteSpace(InputValue))
            {
                ResultValue = double.Parse(InputValue);
                InputValue = "";
                PreviusValue = UpdateCurrentDisplay(ResultValue.ToString());
                PreviusDisplayValue = $"{PreviusValue} {(value == "/" ? "÷" : value)}";
                CurrentDisplayValue = "";
            }

            OperatorValue = value;
            InputValue = "";
        }
        else
        {
            InputValue += value;
            CurrentDisplayValue = UpdateCurrentDisplay(InputValue);
        }
    }

    private void Calculate(string? secondOperatorValue = null)
    {
        if (string.IsNullOrWhiteSpace(InputValue) || string.IsNullOrWhiteSpace(OperatorValue))
            return;

        var secondOperand = double.Parse(InputValue);

        switch (OperatorValue)
        {
            case "+":
                ResultValue += secondOperand;
                break;

            case "-":
                ResultValue -= secondOperand;
                break;

            case "*":
                ResultValue *= secondOperand;
                break;

            case "/":
                if (secondOperand != 0)
                {
                    ResultValue /= secondOperand;
                }
                else
                {
                    CurrentDisplayValue = "Cannot divide by zero";
                    return;
                }
                break;

            default:
                return;
        }

        if (!string.IsNullOrWhiteSpace(secondOperatorValue))
        {
            PreviusValue = UpdateCurrentDisplay(ResultValue.ToString());
            PreviusDisplayValue = $"{PreviusValue} {secondOperatorValue}";
            CurrentDisplayValue = "";
        }
        else
        {
            CurrentDisplayValue = UpdateCurrentDisplay(ResultValue.ToString());
            PreviusDisplayValue = $"{PreviusValue} {OperatorValue} {UpdateCurrentDisplay(secondOperand.ToString())} = {UpdateCurrentDisplay(ResultValue.ToString())}";
        }

        InputValue = "";
        OperatorValue = "";
    }

    private void Clear()
    {
        InputValue = "";
        OperatorValue = "";
        ResultValue = 0;
        CurrentDisplayValue = "";
        PreviusDisplayValue = "";
        PreviusValue = "";
    }

    private void BackSpace()
    {
        if (string.IsNullOrWhiteSpace(InputValue))
            return;

        if (InputValue.Count() > 1)
        {
            InputValue = InputValue.Substring(0, InputValue.Length - 1);
            CurrentDisplayValue = InputValue;
        }

        else if (InputValue.Count() == 1)
        {
            InputValue = "";
            CurrentDisplayValue = InputValue;
        }
    }

    private string UpdateCurrentDisplay(string currentValue)
    {
        string output = "";
        string? decimalPoint = "";
        string? integerValue = null;
        string? decimalValue = null;
        int intValue = 0;

        if (currentValue == ".")
            return output = currentValue;

        if (currentValue.Contains("."))
        {
            if (currentValue.Length > 1)
            {
                integerValue = currentValue.Split(".")[0];
                decimalValue = currentValue.Split(".")[1];
            }

            decimalPoint = ".";
        }
        else
            integerValue = currentValue;

        if (!string.IsNullOrWhiteSpace(integerValue))
            intValue = int.Parse(integerValue);

        if (string.IsNullOrWhiteSpace(decimalValue))
            output = $"{intValue.ToString("N0")}{decimalPoint}";

        else
            output = $"{(integerValue == "" ? "" : intValue.ToString("N0"))}{decimalPoint}{decimalValue}";

        return output;
    }
}
