@page "/calculator"

<style>

    body {
        display: flex;
        justify-content: center;
    }

    .display-value {
        background-color: lightgray;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .display-value-sm {
        background-color: lightgray;
    }

    .calculator-container {
        width: 100%;
        margin: 20px auto;
        border: 2px solid lightgray;
        border-radius: 10px;
        padding: 10px;
    }

    .calculator-display {
        margin-left: 5px;
        margin-right: 5px;
    }

        .calculator-display input {
            width: 100%;
            text-align: right;
            padding: 10px;
            font-size: 1.5rem;
        }

    .calculator-display-sm {
        margin-left: 5px;
        margin-right: 5px;
        font-size: .50rem;
    }

        .calculator-display-sm input {
            width: 100%;
            text-align: right;
            padding: 10px;
            font-size: 1rem;
        }

    .button-panel {
        display: flex;
    }

        .button-panel button {
            flex: 1;
            padding: 20px;
            font-size: 1.5rem;
            margin: 5px;
            background-color: lightgray;
        }

    .operator-panel {
        display: flex;
    }

        .operator-panel button {
            flex: 1;
            padding: 20px;
            font-size: 1.5rem;
            margin: 5px;
        }

        .operator-panel-color {
            background-color: red;
            margin: 5px;
        }

    .clear-button {
        width: 100%;
        background-color: red;
        color: white;
        padding: 10px;
        font-size: 1.5rem;
        flex: 3;
    }

    .clear-button button {
        background-color: red;
    }
</style>

<div class="calculator-container">
    <h3>Calculator</h3>

    <div class="calculator-display-sm">
        <input type="text" class="display-value-sm" readonly value="@PreviusDisplayValue" />
    </div>

    <div class="calculator-display">
        <input type="text" class="display-value" readonly value="@CurrentDisplayValue" />
    </div>

    <div class="button-panel">
        <button class="clear-button" @onclick="Clear">C</button>
        <button @onclick="@(() => BackSpace())">◄</button>
        <button @onclick="@(() => AppendValue("/"))">÷</button>
    </div>

    <div class="button-panel">
        <button @onclick="@(() => AppendValue("7"))">7</button>
        <button @onclick="@(() => AppendValue("8"))">8</button>
        <button @onclick="@(() => AppendValue("9"))">9</button>
        <button @onclick="@(() => AppendValue("*"))">*</button>
    </div>

    <div class="button-panel">
        <button @onclick="@(() => AppendValue("4"))">4</button>
        <button @onclick="@(() => AppendValue("5"))">5</button>
        <button @onclick="@(() => AppendValue("6"))">6</button>
        <button @onclick="@(() => AppendValue("-"))">-</button>
    </div>

    <div class="button-panel">
        <button @onclick="@(() => AppendValue("1"))">1</button>
        <button @onclick="@(() => AppendValue("2"))">2</button>
        <button @onclick="@(() => AppendValue("3"))">3</button>
        <button @onclick="@(() => AppendValue("+"))">+</button>
    </div>

    <div class="button-panel">
        <button @onclick="@(() => AppendValue("0"))">0</button>
        <button @onclick="@(() => AppendValue("00"))">00</button>
        <button @onclick="@(() => AppendValue("."))">.</button>
        <button @onclick="@(() => Calculate())">=</button>
    </div>
    
</div>

@code {
    private string CurrentDisplayValue = "0";
    private string PreviusDisplayValue = "";
    private string InputValue = "";
    private string OperatorValue = "";
    private double ResultValue = 0;

    private void AppendValue(string value)
    {
        if (InputValue.Length > 15)
            return;

        if (InputValue.Contains('.') && value == ".")
            return;

        if (value == "+" || value == "-" || value == "*" || value == "/")
        {
            if (!string.IsNullOrWhiteSpace(InputValue))
            {
                ResultValue = double.Parse(InputValue);
                InputValue = "";
                PreviusDisplayValue = $"{ResultValue} {value}";
                CurrentDisplayValue = "";
            }

            OperatorValue = value;
            InputValue = "";
        }
        else
        {
            InputValue += value;

            if (InputValue.Contains("."))
                CurrentDisplayValue = InputValue;
            else
                CurrentDisplayValue = decimal.Parse(InputValue).ToString("N0", CultureInfo.CurrentCulture);
            //CurrentDisplayValue = InputValue == "" ? ResultValue.ToString() : InputValue;
        }
    }

    private void Calculate()
    {
        if (string.IsNullOrWhiteSpace(InputValue) || string.IsNullOrWhiteSpace(OperatorValue))
            return;

        var secondOperand = double.Parse(InputValue);

        switch (OperatorValue)
        {
            case "+":
                ResultValue += secondOperand;
                break;

            case "-":
                ResultValue -= secondOperand;
                break;

            case "*":
                ResultValue *= secondOperand;
                break;

            case "/":
                if (secondOperand != 0)
                {
                    ResultValue /= secondOperand;
                }
                else
                {
                    CurrentDisplayValue = "Cannot divide by zero";
                    return;
                }
                break;

            default:
                return;
        }

        PreviusDisplayValue = $"{PreviusDisplayValue} {CurrentDisplayValue} = {ResultValue}";
        CurrentDisplayValue = ResultValue.ToString(CultureInfo.InvariantCulture);

        InputValue = "";
        OperatorValue = "";
    }

    private void Clear()
    {
        InputValue = "";
        OperatorValue = "";
        ResultValue = 0;
        CurrentDisplayValue = "";
        PreviusDisplayValue = "";
    }

    private void BackSpace()
    {
        if (string.IsNullOrWhiteSpace(InputValue))
            return;

        if (InputValue.Count() > 1)
        {
            InputValue = InputValue.Substring(0, InputValue.Length - 1);
            CurrentDisplayValue = InputValue;
        }

        else if (InputValue.Count() == 1)
        {
            InputValue = "";
            CurrentDisplayValue = InputValue;
        }
    }
}
