@page "/tasklist"

<MudPaper Class="m-2 p-2" Width="50%">
    <h3 class="text-center">Task List</h3>
        <EditForm Model="@newTask" OnValidSubmit="@AddTask">
            <MudGrid>
                <MudItem Class="justify-content-center">
                    <MudTextField Color="Color.Primary" Variant="Variant.Outlined" Immediate="false" Label="Task title" Class="my-md-5" @bind-Value="taskTitle"></MudTextField>
                    <MudTextField Color="Color.Primary" Variant="Variant.Outlined" Immediate="false" Label="Enter task" Class="my-md-5" @bind-Value="newTask.Task"></MudTextField>

                    <MudButton Color="@Color.Primary" Variant="Variant.Filled" OnClick="@AddTask" ButtonType="ButtonType.Submit">Add Task</MudButton>
                    <MudButton Color="@Color.Primary" Variant="Variant.Filled" Onclick="@ClearTask">Clear Task</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>

        <MudDivider/>

        <MudPaper Class="my-2 p-2">

            <MudText>@taskTitle</MudText>

            @if (taskList.Count > 0)
            {
                <MudProgressLinear Color="Color.Success" Rounded="true" Striped="true" Size="Size.Large" Value="@percentProgress" Class="my-2">
                    <MudText Typo="Typo.subtitle2">
                        <b>@percentProgress%</b>
                    </MudText>
                </MudProgressLinear>
            }

            <MudPaper>
                <MudList T="TaskModel">
                    @foreach (var task in taskList)
                    {
                        @if (task.IsComplete)
                        {
                            <MudListItem class="list-group-item list-group-item-secondary my-1"
                                @onclick="(() => task.IsComplete = !task.IsComplete)">
                                <del>@task.Task</del>
                            </MudListItem>
                        }
                        else
                        {
                            <MudListItem class="list-group-item list-group-item-success my-1"
                                @onclick="(() => task.IsComplete = !task.IsComplete)">
                                @task.Task
                            </MudListItem>
                        }
                    }
                </MudList>
            </MudPaper>
        </MudPaper>
</MudPaper>

@code {
    private List<TaskModel> taskList = new();
    private TaskModel newTask = new();
    private string? taskTitle = "";

    private int percentProgress
    {
        get
        {
            return (taskList.Count(x => x.IsComplete) * 100) / taskList.Count;
        }
    }

    private void AddTask()
    {
        if (string.IsNullOrWhiteSpace(newTask.Task))
            return;

        taskList.Add(newTask);

        newTask = new();


    }

    private void ClearTask()
    {
        taskTitle = "";
        taskList = new();
        newTask = new();
    }
}
